.content{
    max-width: 1000px;
    margin: 0px auto;
    
    height: 500px;
}
.left{
    width: 250px;
    text-align: left;
    float: left;
    background-color: aqua;

}
.center{
    width: 500px;
    text-align: center;
    float: left;
    background-color: blueviolet;
}
.right{
    width: 250px;
    text-align: right;
    float: left;
 
}
.border{
    background-color: 20px;
    float: left;
}