<div class="content">
    <section class="aside">
        <div class="left"> 
            Dù dành khá nhiều thời gian để theo đuổi ngôi sao trẻ Cody Gakpo, tuy nhiên khi kỳ chuyển nhượng tháng Giêng vẫn chưa mở cửa, Manchester United đã phải hứng chịu cú sốc từ thương vụ này.
            Phía PSV sáng nay vừa đăng tải thông tin xác nhận rằng, họ đồng ý bán ngôi sao người Hà Lan cho Liverpool với mức giá khoảng 42 triệu euro. Điều này đồng nghĩa Man Utd sẽ cần phải tìm kiếm một mục tiêu mới cho hàng tiền đạo.
        </div>
        <div class="border">
            <br>
        </div>
        <div class="center"> 
            Có khá nhiều cái tên được Quỷ đỏ cân nhắc chiêu mộ, tuy nhiên theo nguồn tin từ nhà báo Ekrem Konur, đội chủ sân Old Trafford đang dành sự quan tâm lớn cho Mohammed Kudus, ngôi sao thuộc biên chế Ajax.
            Dù xuất phát điểm không phải là trung phong, nhưng ở mùa giải năm nay, Kudus cũng đã có một số lần chơi ở vai trò số 9 và thể hiện khá tốt. Hơn thế nữa, sự đa năng đến từ cầu thủ trẻ người Ghana hứa hẹn sẽ mang đến cho Erik ten Hag nhiều lựa chọn hơn về mặt chiến thuật.
            Được biết, phía Ajax cũng khá cởi mở trong thương vụ này. Họ sẽ đồng ý bán Kudus nếu nhận về lời đề nghị khoảng 45 triệu euro
        </div>
        <div class="right"> 
            Có khá nhiều cái tên được Quỷ đỏ cân nhắc chiêu mộ, tuy nhiên theo nguồn tin từ nhà báo Ekrem Konur, đội chủ sân Old Trafford đang dành sự quan tâm lớn cho Mohammed Kudus, ngôi sao thuộc biên chế Ajax.
            Dù xuất phát điểm không phải là trung phong, nhưng ở mùa giải năm nay, Kudus cũng đã có một số lần chơi ở vai trò số 9 và thể hiện khá tốt. Hơn thế nữa, sự đa năng đến từ cầu thủ trẻ người Ghana hứa hẹn sẽ mang đến cho Erik ten Hag nhiều lựa chọn hơn về mặt chiến thuật.
            Được biết, phía Ajax cũng khá cởi mở trong thương vụ này. Họ sẽ đồng ý bán Kudus nếu nhận về lời đề nghị khoảng 45 triệu euro
        </div>
    </section>
</div>
