<div class="header">
    
    <nav>
        <h1 class="h1">World cup</h1>
         <ul class="menu">
            <li><a href="">Bảng A</a>
                <ul class="menucon">
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Senegal</a></li>
                    <li><a href="">Ecuador</a></li>
                    <li><a href="">Qatar</a></li>
                </ul>
            </li>
                
            <li><a href="">Bảng B</a>
                <ul class="menucon">
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Senegal</a></li>
                    <li><a href="">Ecuador</a></li>
                    <li><a href="">Qatar</a></li>
                </ul>
            </li>
            <li><a href="">Bảng C</a>
                <ul class="menucon">
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Senegal</a></li>
                    <li><a href="">Ecuador</a></li>
                    <li><a href="">Qatar</a></li>
                </ul>
            </li>
            <li><a href="">Bảng D</a>
                <!-- <ul class="menucon">
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Senegal</a></li>
                    <li><a href="">Ecuador</a></li>
                    <li><a href="">Qatar</a></li>
                </ul> -->
            </li>
            <li><a href="">Bảng E</a>
                <!-- <ul class="menucon">
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Senegal</a></li>
                    <li><a href="">Ecuador</a></li>
                    <li><a href="">Qatar</a></li>
                </ul> -->
            </li>
            <li><a href="">Bảng F</a>
                <!-- <ul class="menucon">
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Senegal</a></li>
                    <li><a href="">Ecuador</a></li>
                    <li><a href="">Qatar</a></li>
                </ul> -->
            </li>
            <li><a href="">Bảng G</a>
                <!-- <ul class="menucon">
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Senegal</a></li>
                    <li><a href="">Ecuador</a></li>
                    <li><a href="">Qatar</a></li>
                </ul> -->
            </li>
            <li><a href="">Bảng H</a>
                <!-- <ul class="menucon">
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Senegal</a></li>
                    <li><a href="">Ecuador</a></li>
                    <li><a href="">Qatar</a></li>
                </ul> -->
            </li>

         </ul>
    </nav>

</div>
